.title {
  h1 {
    text-align: center;
  }
}
.Link {
  text-decoration: none;
  color: black;
}
.categorias_vendidas {
  margin: 0 25px 12px 25px;
  display: flex;
  justify-content: space-between;
}
