$color: rgb(118, 0, 214);
$color-hover: rgb(118, 0, 214);
.aboutUs {
  text-align: center;
  margin: 0 100px;
  height: 100%;
  .contactos_icon {
    font-size: 80px;
    color: $color;
  }
  h1 {
    font-size: 30px;
    font-weight: bold;
  }
  p {
    font-size: 18px;
    margin-bottom: 50px;
    color: rgb(121, 121, 121);
  }
  .Link {
    font-size: 15px;
    background-color: white;
    border: 1px solid $color;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
    color: $color;
  }
  .Link:hover {
    color: white;
    border: 1px solid $color-hover;
    background-color: $color-hover;
    transition-duration: 0.5s;
  }
}
