.input_icon {
  font-size: 60px;
}
.input_insert {
  Input {
    width: 70%;
    font-size: 15px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #c9c8c8;
    color: white;
  }
}
